html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Carme", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  height: 3000px;
}

a {
  text-decoration: none;
  color: #000000;
}

div.video {
  position: absolute;
  width: 100%;
  height: 919px;
  top: 0;
}
div.video div.overlay {
  background-color: black;
  width: 100%;
  height: 919px;
  position: absolute;
  opacity: 0.2;
}
div.video video {
  height: 919px;
  width: 100%;
  object-fit: cover;
}

div.sticky {
  position: fixed;
  top: 230px;
  left: 30px;
  width: 80px;
  height: 130px;
  display: grid;
  grid-template-columns: 1f;
  z-index: 1000;
}
div.sticky a {
  width: 30px;
  height: 30px;
}
div.sticky a i {
  font-size: 30px;
}

header {
  width: 100%;
  height: 919px;
  position: relative;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 10;
  top: 0;
}
header nav {
  box-sizing: border-box;
  padding: 0 30px;
  width: 100%;
  height: 196px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  flex-direction: row;
  box-sizing: border-box;
  padding-top: 30px;
  position: absolute;
}
header nav div.left {
  width: 111px;
  height: 63px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
}
header nav div.left span {
  color: #fff;
  font-size: 28px;
  letter-spacing: 3px;
  font-weight: 800;
  padding-left: 20px;
}
header nav div.left span.littles {
  text-decoration: underline 2px solid #4bd1a0;
  font-size: 20px;
  position: absolute;
  padding: 5px 0 0;
}
header nav div.right input#burger {
  display: none;
}
header nav div.right label.burger {
  font-size: 30px;
  color: #fff;
  background-color: #000000;
  border: 1px solid #fff;
  padding: 8px;
  cursor: pointer;
  transition: 0.5s ease;
  position: absolute;
  margin-top: 150px;
  display: none;
}
header nav div.right ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  flex-direction: row;
}
header nav div.right ul.start li.bag a {
  font-size: 22px;
}
header nav div.right ul.start li.green a {
  color: #4bd1a0;
  font-size: 17px;
  font-family: "Sen", sans-serif;
}
header nav div.right ul.start li.green a i {
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 22px;
}
header nav div.right ul.start li.green:hover {
  opacity: 0.9;
}
header nav div.right ul.start li.input {
  width: 180px;
  height: 40px;
  padding: 0 3px;
}
header nav div.right ul.start li.input i {
  font-size: 13px;
}
header nav div.right ul.start li.input ::placeholder {
  color: #000000;
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 11px;
}
header nav div.right ul.start li.input:hover {
  border: 1px solid black;
  background-color: #fff;
  width: 178px;
  height: 38px;
}
header nav div.right ul.start li.input input {
  width: 140px;
  height: 35px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
header nav div.right ul.start li.input input:focus {
  outline: none;
}
header nav div.right ul.end a {
  letter-spacing: 2px;
  transition: 0.5s ease;
}
header nav div.right ul.end a:hover {
  color: #4bd1a0;
}
header nav div.right ul.end a.active {
  color: #4bd1a0;
}
header section.h1 {
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: clamp(170px, 30vw, 304px);
}
header section.h1 h1 {
  text-align: center;
  font-size: clamp(25px, 37vw, 80px);
  line-height: 0;
  letter-spacing: 12px;
  font-weight: 800;
  line-height: 58px;
}
header section.h1 h1 span.white {
  color: #fff;
}
header section.h1 a.shop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 163px;
  height: 45px;
  border: 1px solid #fff;
  transition: 0.5s ease;
  margin-top: 0;
  font-family: "Sen", sans-serif;
}
header section.h1 a.shop:hover {
  background-color: #fff;
}
header section.h1 a.shop:hover > p {
  color: #000000;
}
header section.h1 a.shop p {
  color: #fff;
}

article.first {
  width: 100%;
  height: 977px;
  background-color: #fff;
  display: grid;
  place-items: center;
  box-sizing: border-box;
}
article.first section.magla {
  position: relative;
  width: 919px;
  height: 372px;
  background-color: #fff;
}
article.first section.magla div.p {
  width: 318px;
  height: 372px;
  position: absolute;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 50px;
  z-index: 5;
}
article.first section.magla div.p p {
  font-weight: 900;
  letter-spacing: 12px;
}
article.first section.magla div.p p.green1 {
  font-size: clamp(20px, 3vw, 52px);
  color: #4bd1a0;
  width: fit-content;
  margin: -5px;
}
article.first section.magla div.p p.black1 {
  font-size: clamp(18px, 3vw, 58px);
  color: #000000;
  margin: -5px;
}
article.first section.magla div.p a {
  width: 156px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 0;
  margin: 15px 0 0 -5px;
  transition: ease;
  transition: 0.5s ease;
  box-sizing: border-box;
}
article.first section.magla div.p a:hover {
  background-color: transparent;
  border: 2px solid #000000;
}
article.first section.magla div.p a:hover > p {
  color: #000000;
}
article.first section.magla div.p a p {
  color: #fff;
  letter-spacing: 0;
  font-weight: 300;
}
article.first section.magla div.img {
  margin-left: 100px;
  width: 829px;
  height: 372px;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
  box-sizing: border-box;
}
article.first section.magla div.img img {
  width: 600px;
  height: 213px;
}
article.first section.dabla {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: row;
}
article.first section.dabla img {
  width: 210px;
  height: 375px;
}
article.first section.dabla img:hover {
  border: 5px solid black;
  width: 200px;
  height: 365px;
}

article.secand {
  width: 100%;
  height: 850px;
  background-image: url(https://static.wixstatic.com/media/1e47b2_9798bc6bf3cc4483a1914a60ddf361e9.jpg/v1/fill/w_1903,h_850,al_c,q_85,enc_auto/1e47b2_9798bc6bf3cc4483a1914a60ddf361e9.jpg);
  background-image: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 150px 0px 0px 800px;
  box-sizing: border-box;
  position: relative;
}
article.secand img {
  display: none;
}
article.secand section.secand1 {
  width: 630;
  height: 380px;
  box-sizing: border-box;
  position: relative;
}
article.secand section.secand1 h4 {
  font-size: clamp(20px, 5vw, 52px);
  color: #fff;
  position: absolute;
  font-weight: 900;
  line-height: 0;
  margin-top: 5px;
}
article.secand section.secand1 div {
  width: 538px;
  height: 334px;
  background-color: black;
  margin-left: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
article.secand section.secand1 div p {
  color: #fff;
  width: 360.86px;
  height: 102px;
  line-height: 20px;
  margin-top: 40px;
}
article.secand section.secand1 a {
  position: absolute;
  width: 154px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-top: -22px;
  margin-left: clamp(100px, 30vw, 400px);
}
article.secand section.secand1 a:hover {
  border: 2px solid #000000;
  width: 150px;
  height: 39px;
}
article.secand section.secand1 a p {
  font-weight: 200;
}

article.fierd {
  width: 100%;
  height: 396px;
  background-image: url(https://static.wixstatic.com/media/1e47b2_0d3ae44559a247448aa8801a7bad9f48.jpg/v1/fill/w_1880,h_396,al_c,q_85,enc_auto/1e47b2_0d3ae44559a247448aa8801a7bad9f48.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  background-repeat: no-repeat;
  background-size: cover;
}
article.fierd a {
  font-size: clamp(20px, 5vw, 30px);
  letter-spacing: 7px;
  font-weight: 900;
  transition: 1s ease;
}
article.fierd a:hover {
  color: #4bd1a0;
}

footer {
  width: 100%;
  height: 278px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  flex-direction: row;
  box-sizing: border-box;
  padding: 13px 30px 0;
}
footer section.left1 ul {
  list-style: none;
  padding-left: 0;
}
footer section.left1 ul li a {
  text-decoration: underline;
  line-height: 25px;
  color: #fff;
  font-weight: 200;
  font-family: "Sen", sans-serif;
}
footer section.left1 a {
  display: flex;
}
footer section.left1 a aside {
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 200;
}
footer section.left1 a aside div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4bd1a0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
footer section.left1 a aside p {
  color: #fff;
}
footer section.right1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  right: 0;
}
footer section.right1 div.up {
  padding-left: 130px;
  box-sizing: border-box;
}
footer section.right1 div.up p {
  color: #fff;
}
footer section.right1 div.up form {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer section.right1 div.up form input {
  width: 263px;
  height: 41px;
  border: 2px solid #fff;
  background-color: black;
  color: #fff;
  box-sizing: border-box;
  padding-left: 20px;
}
footer section.right1 div.up form input:hover {
  width: 263px;
  height: 41px;
  border: 4px solid #fff;
}
footer section.right1 div.up form input:focus {
  width: 263px;
  height: 41px;
  border: 4px solid #fff;
  outline: none;
}
footer section.right1 div.up form ::placeholder {
  color: #fff;
}
footer section.right1 div.up form button {
  background: none;
  border: none;
  width: 158px;
  height: 41px;
}
footer section.right1 div.up form button a {
  width: 158px;
  height: 41px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  box-sizing: border-box;
}
footer section.right1 div.up form button a:hover {
  background-color: #fff;
  height: 41px;
  width: 158px;
  border: none;
}
footer section.right1 div.up form button a:hover p {
  color: #000000;
}
footer section.right1 div.down {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 58px;
  padding-right: 10px;
  box-sizing: border-box;
}
footer section.right1 div.down aside {
  gap: 10px;
  display: flex;
}
footer section.right1 div.down aside div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
footer section.right1 div.down span {
  color: #fff;
  font-family: "Sen", sans-serif;
  font-weight: 100;
  padding-top: 10px;
}
footer section.right1 div.down span a {
  text-decoration: underline;
  color: #fff;
}

body.story {
  font-family: "Sen", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 1321px;
}
body.story header {
  height: 196px;
}
body.story main {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 50px;
  padding-bottom: 20px;
}
body.story main section {
  width: 920px;
}
body.story main section.sfirst h1 {
  font-size: clamp(20px, 5vw, 52px);
  position: absolute;
  max-width: 200px;
  font-weight: 900;
  letter-spacing: 3px;
}
body.story main section.sfirst div.background {
  width: 795px;
  height: 320px;
  background-image: url(https://static.wixstatic.com/media/1e47b2_4b3f41833bb1481284a38f42c08eb8d3.jpg/v1/fill/w_795,h_320,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/1e47b2_4b3f41833bb1481284a38f42c08eb8d3.jpg);
  margin-left: 120px;
}
body.story main section.ssecand {
  display: flex;
  justify-content: space-between;
  height: 180px;
  gap: 27px;
}
body.story main section.ssecand div.sleft p {
  width: 349px;
  font-size: 22px;
  font-weight: 600;
  font-family: "Sen", sans-serif;
  line-height: 26px;
}
body.story main section.ssecand div.sright p {
  font-size: 15px;
  font-weight: 100;
}
body.story main section.sfierd {
  display: grid;
  grid-template-columns: 1fr;
}
body.story main section.sfierd h5 {
  font-size: 30px;
}
body.story main section.sfierd aside {
  display: flex;
  gap: 40px;
}
body.story main section.sfierd aside div p {
  font-size: 22px;
}
body.story main section.sfierd aside div span {
  font-size: 15px;
  font-weight: 100;
}

body.gift {
  height: 1400px;
  font-family: "Sen", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.gift header {
  height: 196px;
}
body.gift main {
  height: 1050.3px;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}
body.gift main section.gleft {
  width: 454px;
}
body.gift main section.gright {
  width: 444px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
body.gift main section.gright h1 {
  font-family: "Carme", sans-serif;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 800;
  margin-top: 0;
}
body.gift main section.gright form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
body.gift main section.gright form div {
  display: grid;
  grid-template-columns: 1fr;
  height: 68px;
}
body.gift main section.gright form div.radio1 {
  display: flex;
  gap: 20px;
}
body.gift main section.gright form div.radio1 label {
  font-weight: 100;
}
body.gift main section.gright form div.radio1 div {
  position: relative;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
body.gift main section.gright form div.radio1 div:focus-within {
  border: 1px solid #62aeb3;
  background-color: rgba(98, 174, 177, 0.1019607843);
}
body.gift main section.gright form div.radio1 div span {
  font-weight: 100;
}
body.gift main section.gright form div.radio1 div input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
body.gift main section.gright form div.radio1 div.s25 {
  width: 41px;
  height: 39px;
}
body.gift main section.gright form div.radio1 div.s50 {
  width: 41px;
  height: 39px;
}
body.gift main section.gright form div.radio1 div.s100 {
  width: 49px;
  height: 39px;
}
body.gift main section.gright form div.radio1 div.s150 {
  width: 49px;
  height: 39px;
}
body.gift main section.gright form div.radio1 div.s200 {
  width: 49px;
  height: 39px;
}
body.gift main section.gright form div.age {
  width: 130px;
}
body.gift main section.gright form div.radio {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
body.gift main section.gright form div.radio div {
  display: flex;
  gap: 10px;
}
body.gift main section.gright form div.radio div div.s1 {
  height: 39px;
  width: 218px;
  position: relative;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.gift main section.gright form div.radio div div.s1:focus-within {
  border: 1px solid #62aeb3;
  background-color: rgba(98, 174, 177, 0.1019607843);
}
body.gift main section.gright form div.radio div div.s1 input.si {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
body.gift main section.gright form div.radio div div.s2 {
  height: 39px;
  width: 218px;
  position: relative;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.gift main section.gright form div.radio div div.s2:focus-within {
  border: 1px solid #62aeb3;
  background-color: rgba(98, 174, 177, 0.1019607843);
}
body.gift main section.gright form div.radio div div.s2 input.si2 {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
body.gift main section.gright form div.textarea {
  height: 136px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body.gift main section.gright form div.textarea textarea {
  resize: none;
}
body.gift main section.gright button {
  height: 44px;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
}
body.gift main section.gright button:hover {
  opacity: 0.7;
}

/*# sourceMappingURL=style.css.map */
